{% extends "base.html" %}

{% block content %}
<h1>More about us</h1>
<p>Since you're so curious, here's a little more about us</p>
<ul>
    <li>We've been in business for over 20 years.</li>
    <li>We have a team of experienced pet care professionals.</li>
    <li>We offer a wide range of services to keep your pets happy and healthy.</li>
</ul>
<p>Still not satisfied? Test your patience and <a href="/contact">contact us</a>.</p>
{% endblock %}

{% block title %}About Us - George's Pet Shop
{% endblock %}